.health-card {
  background: white;
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  margin-bottom: 12px;
}

.status-bar.good {
  background: #53C28B;
}
.status-bar.warning {
  background: #FDCB58;
}
.status-bar.critical {
  background: #F55E61;
}

.anatomy-container {
  background: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.tooltip-heart, .tooltip-leg {
  position: absolute;
  background: linear-gradient(135deg, #3734A9, #5F47ED);
  color: white;
  padding: 6px 10px;
  border-radius: 12px;
  font-size: 12px;
}

.dashboard-main-content{
  display: flex;
  flex-direction: row;


}