
.health-status-cards {
  
  flex-direction: column;
  
  padding: 20px;
}

.health-status-card {
  border-radius: 10px;
  padding: 18px;
  box-shadow: 0 2px 5px rgba(11, 10, 10, 0.1);
  display: flex;
  align-items: center;
  width: 150px;
  height: 50px;
  margin: 20px;
}

.card-content {
  display: flex;
  align-items: center;
  flex-direction:column;
  width:95%;
  height:70px;

}

.card-icon {
  width: 20px;
  height: 20px;
  padding:5px;
}

.card-details {
  flex: 1;
  width: 100%;
  padding: 0px;
}

.card-label {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  margin: 0;
  padding-top: 5px;
}

.card-date {
  font-size: 8px;
  color: #666;
  margin: 5px 0;
}

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  height: 8px;
  width: 100%;
  overflow: hidden;
}

.progress-fill {
  background-color: #B44E4E; 
  height: 100%;
  transition: width 0.3s ease-in-out;
  
}

.card-icon-container{
  display:flex;
  align-self:flex-start;
} 